## 1.데이터 전처리 및 병합

In [4]:
import pandas as pd

activecop = pd.read_excel("C:\\Users\\Yeji\\Desktop\\취준\\넘블챌린지\\넘블 챌린지 데이터\\액티브 중소법인 재무보유.xlsx")
closecop = pd.read_excel("C:\\Users\\Yeji\\Desktop\\취준\\넘블챌린지\\넘블 챌린지 데이터\\휴폐업 중소법인 재무보유.xlsx")

#activecop.head()
closecop.head()

,BIZ_NO,CMP_PFIX_NM,CMP_NM,CMP_SFIX_NM,CMP_ENM,BZ_TYP,CMP_SCL,PBCO_GB,PSN_CORP_GB,HDOF_BR_GB,...,MDSCO_PRTC_YN,HDOF_CMP_CD,ESTB_DATE,ESTB_GB,LIST_DATE,MN_BIZ_CONT,NATN_NM,HOMEPAGE_URL,CEO_NM,EMP_CNT
0,1268145633,(주),용진테크,NaN,"Yongjin Tech Co., Ltd.",M,2,2,1,1,...,N,NaN,20000529.0,1,NaN,자동차부품 제조판매업,NaN,www.yongjintech.com,안상동,40.0
1,1388101749,NaN,신구건설,(주),"SHINKU C0NSTRUCTION CO.,LTD.",M,2,2,1,1,...,N,NaN,19850110.0,1,NaN,건축자재 판매업,NaN,www.shinku.co.kr,소재필,13.0
2,1068179240,(주),석정미디어,NaN,sung jung,M,2,2,1,1,...,N,NaN,19990601.0,1,NaN,"토너, 잉크, 프린터 외 컴퓨터 관련 주변기기",NaN,NaN,이상호,1.0
3,2248114507,(주),새한실업,NaN,"SAEHAN INDUSTRY CO.,LTD.",M,2,2,1,1,...,N,NaN,19980522.0,1,NaN,금속 캔 및 기타 포장용기 제조업,NaN,NaN,김정남외 1명,6.0
4,1168132785,(주),석영엔터프라이즈,NaN,"Seokyoung Enterprise Co.,Ltd.",M,2,2,1,1,...,N,NaN,19930226.0,1,NaN,스마트트레이 외,NaN,www.systeel.co.kr,박성진,40.0

In [13]:
finance = pd.read_excel("C:\\Users\\Yeji\\Desktop\\취준\\넘블챌린지\\넘블 챌린지 데이터\\재무데이터_피처생성추가.xlsx")
finance.head()

,기업명,종업원 수,사업자번호,결산년월,유동자산,매출채권,비유동자산,유형자산,자산총계,유동부채,...,영업이익 / 종업원수,자본금 / 종업원수,당기순이익 / 종업원수,영업이익대비이자보상비율,총자본순이익률,총자본영업이익률,총자본증가율,비유동비율,이익잉여금대유동자산비율,전기유형자산
0,대일건설,41.0,1018100340,20181231,2667731.0,127320.0,32346444.0,1179096.0,35014174.0,422872.0,...,10210.219512,17587.804878,61199.560976,NaN,NaN,NaN,NaN,175.650455,144.657464,NaN
1,대일건설,41.0,1018100340,20191231,2168837.0,94085.0,34151633.0,1209369.0,36320470.0,10553878.0,...,20562.731707,17587.804878,66668.804878,NaN,7.663656,2.363710,3.730763,166.381119,170.971447,1179096.0
2,대일건설,41.0,1018100340,20201231,2272260.0,78612.0,38329680.0,1091153.0,40601940.0,863144.0,...,1662.097561,17587.804878,83091.634146,NaN,8.857645,0.177181,11.788036,158.108268,186.178034,1209369.0
3,대일건설,41.0,1018100340,20211231,1175030.0,273522.0,37135811.0,993025.0,38310842.0,9494272.0,...,9439.024390,17587.804878,93255.439024,NaN,9.690377,0.980830,-5.642829,155.281291,439.948086,1091153.0
4,쎈츄럴관광호텔,3.0,1018100772,20181231,422146.0,17011.0,20370096.0,20352846.0,20792242.0,2684934.0,...,51896.666667,17333.333333,6719.666667,71.997416,NaN,NaN,NaN,303.910128,-1755.347439,NaN

In [14]:
print(activecop.shape)
print(closecop.shape)
print(finance.shape)

(28982, 29)
(6739, 29)
(109142, 77)

In [7]:
#라벨링

activecop['label'] = 1
closecop['label'] = 0

In [9]:
cop = pd.concat([activecop, closecop])
print(cop.shape)
cop.head()

(35721, 30)

,BIZ_NO,CMP_PFIX_NM,CMP_NM1,CMP_SFIX_NM,CMP_ENM,BZ_TYP,CMP_SCL,PBCO_GB,PSN_CORP_GB,HDOF_BR_GB,...,ESTB_DATE,ESTB_GB,LIST_DATE,MN_BIZ_CONT,NATN_NM,HOMEPAGE_URL,CEO_NM,EMP_CNT,label,CMP_NM
0,1138111739,NaN,한일가스산업,(주),"HANIL GAS IND. CO.,LTD.",M,2,2,1,1,...,19660419.0,1,NaN,LP Gas 충전 및 판매업,NaN,www.hanilgas.com,홍순철외 1명,43.0,1,NaN
1,2078132193,(주),엠피아이,NaN,"EMPIALEE CO.,LTD.",M,2,2,1,1,...,19910806.0,1,NaN,가죽 및 대용가죽제품 제조업,NaN,www.mastercnd.co.kr,이스테판상수외 1명,35.0,1,NaN
2,1318167565,NaN,도영운수,(주),"DOYOUNG TRANSPORTATION CO.,LTD.",M,2,2,1,1,...,20011030.0,1,NaN,시내버스업,NaN,transport@naver.com,김명화,149.0,1,NaN
3,5048128251,(주),중원산업,NaN,"JOONGWON INDUSTRIAL CO.,LTD.",M,2,2,1,1,...,19990112.0,1,NaN,자동차 부품 제조,NaN,www.koreajw.com,김명구,75.0,1,NaN
4,1098164260,(주),카타나골프,NaN,"CATANA GOLF CO.,LTD.",M,2,2,1,1,...,20000531.0,1,NaN,골프용품 전반의 제조 및 수출업,NaN,NaN,김홍득,3.0,1,NaN

In [10]:
# 사업자번호를 BIZ_NO로 변경

cop.rename(columns={'BIZ_NO':'사업자번호'},inplace=True)
cop.head()

,사업자번호,CMP_PFIX_NM,CMP_NM1,CMP_SFIX_NM,CMP_ENM,BZ_TYP,CMP_SCL,PBCO_GB,PSN_CORP_GB,HDOF_BR_GB,...,ESTB_DATE,ESTB_GB,LIST_DATE,MN_BIZ_CONT,NATN_NM,HOMEPAGE_URL,CEO_NM,EMP_CNT,label,CMP_NM
0,1138111739,NaN,한일가스산업,(주),"HANIL GAS IND. CO.,LTD.",M,2,2,1,1,...,19660419.0,1,NaN,LP Gas 충전 및 판매업,NaN,www.hanilgas.com,홍순철외 1명,43.0,1,NaN
1,2078132193,(주),엠피아이,NaN,"EMPIALEE CO.,LTD.",M,2,2,1,1,...,19910806.0,1,NaN,가죽 및 대용가죽제품 제조업,NaN,www.mastercnd.co.kr,이스테판상수외 1명,35.0,1,NaN
2,1318167565,NaN,도영운수,(주),"DOYOUNG TRANSPORTATION CO.,LTD.",M,2,2,1,1,...,20011030.0,1,NaN,시내버스업,NaN,transport@naver.com,김명화,149.0,1,NaN
3,5048128251,(주),중원산업,NaN,"JOONGWON INDUSTRIAL CO.,LTD.",M,2,2,1,1,...,19990112.0,1,NaN,자동차 부품 제조,NaN,www.koreajw.com,김명구,75.0,1,NaN
4,1098164260,(주),카타나골프,NaN,"CATANA GOLF CO.,LTD.",M,2,2,1,1,...,20000531.0,1,NaN,골프용품 전반의 제조 및 수출업,NaN,NaN,김홍득,3.0,1,NaN

In [129]:
allcop = pd.merge(cop, finance, how='inner', on='사업자번호')
print(allcop.shape)
allcop.head()

(109142, 106)

,사업자번호,CMP_PFIX_NM,CMP_NM1,CMP_SFIX_NM,CMP_ENM,BZ_TYP,CMP_SCL,PBCO_GB,PSN_CORP_GB,HDOF_BR_GB,...,영업이익 / 종업원수,자본금 / 종업원수,당기순이익 / 종업원수,영업이익대비이자보상비율,총자본순이익률,총자본영업이익률,총자본증가율,비유동비율,이익잉여금대유동자산비율,전기유형자산
0,1138111739,NaN,한일가스산업,(주),"HANIL GAS IND. CO.,LTD.",M,2,2,1,1,...,-22770.488372,6976.744186,-18900.279070,-1637.162933,NaN,NaN,NaN,760.061698,42.705356,NaN
1,2078132193,(주),엠피아이,NaN,"EMPIALEE CO.,LTD.",M,2,2,1,1,...,37918.571429,2857.142857,23208.800000,704.946775,NaN,NaN,NaN,168.343228,82.352727,NaN
2,2078132193,(주),엠피아이,NaN,"EMPIALEE CO.,LTD.",M,2,2,1,1,...,-1322.085714,2857.142857,4024.828571,-29.587456,1.106049,-0.363318,20.419275,187.474127,66.770399,4378120.0
3,2078132193,(주),엠피아이,NaN,"EMPIALEE CO.,LTD.",M,2,2,1,1,...,12918.428571,2857.142857,10786.828571,277.570828,2.724442,3.262823,-0.842456,181.087314,79.974435,4307102.0
4,1318167565,NaN,도영운수,(주),"DOYOUNG TRANSPORTATION CO.,LTD.",M,2,2,1,1,...,-451.832215,1342.281879,-1485.000000,-29679.842307,NaN,NaN,NaN,149.580584,163.807727,NaN

## 2. 후진제거법
### 2-1. 데이터 전처리

In [130]:
allcop.dtypes

사업자번호             int64
CMP_PFIX_NM      object
CMP_NM1          object
CMP_SFIX_NM      object
CMP_ENM          object
                 ...
총자본영업이익률        float64
총자본증가율          float64
비유동비율           float64
이익잉여금대유동자산비율    float64
전기유형자산          float64
Length: 106, dtype: object

In [109]:
allcop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109142 entries, 0 to 109141
Columns: 106 entries, 사업자번호 to 전기유형자산
dtypes: float64(82), int64(9), object(15)
memory usage: 89.1+ MB

In [131]:
# 데이터타입 object 인 것 삭제

allcop = allcop.drop(['사업자번호', 'CMP_PFIX_NM', 'CMP_NM1', 'CMP_SFIX_NM', 'CMP_ENM', 'BZ_TYP', 'HDOF_CMP_CD',
            'MN_BIZ_CONT', 'NATN_NM', 'CEO_NM','CMP_NM', '기업명' ], axis = 1)
allcop.shape

(109142, 94)

In [132]:
# 국외투자법인여부, 벤처기업여부, 중견기업보호여부 값 N=0, Y=1로 변경
allcop['FR_IVST_CORP_YN'] = allcop['FR_IVST_CORP_YN'].map({'N':0, 'Y':1})
allcop['VENT_YN'] = allcop['VENT_YN'].map({'N':0, 'Y':1})
allcop['MDSCO_PRTC_YN'] = allcop['MDSCO_PRTC_YN'].map({'N':0, 'Y':1})

allcop.head()

,CMP_SCL,PBCO_GB,PSN_CORP_GB,HDOF_BR_GB,FR_IVST_CORP_YN,VENT_YN,LIST_CD,IND_CD_ORDR,IND_CD1,IND_CD2,...,영업이익 / 종업원수,자본금 / 종업원수,당기순이익 / 종업원수,영업이익대비이자보상비율,총자본순이익률,총자본영업이익률,총자본증가율,비유동비율,이익잉여금대유동자산비율,전기유형자산
0,2,2,1,1,0,0,NaN,10.0,47712.0,NaN,...,-22770.488372,6976.744186,-18900.279070,-1637.162933,NaN,NaN,NaN,760.061698,42.705356,NaN
1,2,2,1,1,0,0,NaN,10.0,15190.0,NaN,...,37918.571429,2857.142857,23208.800000,704.946775,NaN,NaN,NaN,168.343228,82.352727,NaN
2,2,2,1,1,0,0,NaN,10.0,15190.0,NaN,...,-1322.085714,2857.142857,4024.828571,-29.587456,1.106049,-0.363318,20.419275,187.474127,66.770399,4378120.0
3,2,2,1,1,0,0,NaN,10.0,15190.0,NaN,...,12918.428571,2857.142857,10786.828571,277.570828,2.724442,3.262823,-0.842456,181.087314,79.974435,4307102.0
4,2,2,1,1,0,0,NaN,10.0,49212.0,NaN,...,-451.832215,1342.281879,-1485.000000,-29679.842307,NaN,NaN,NaN,149.580584,163.807727,NaN

In [133]:
#상장코드, 홈페이지url 있으면 1 없으면 0로 변경

import numpy as np

allcop['LIST_CD'] = np.where(allcop['LIST_CD'] != "", 0, 1)
allcop['HOMEPAGE_URL'] = np.where(allcop['HOMEPAGE_URL'] != "", 0, 1)

allcop.head()

,CMP_SCL,PBCO_GB,PSN_CORP_GB,HDOF_BR_GB,FR_IVST_CORP_YN,VENT_YN,LIST_CD,IND_CD_ORDR,IND_CD1,IND_CD2,...,영업이익 / 종업원수,자본금 / 종업원수,당기순이익 / 종업원수,영업이익대비이자보상비율,총자본순이익률,총자본영업이익률,총자본증가율,비유동비율,이익잉여금대유동자산비율,전기유형자산
0,2,2,1,1,0,0,0,10.0,47712.0,NaN,...,-22770.488372,6976.744186,-18900.279070,-1637.162933,NaN,NaN,NaN,760.061698,42.705356,NaN
1,2,2,1,1,0,0,0,10.0,15190.0,NaN,...,37918.571429,2857.142857,23208.800000,704.946775,NaN,NaN,NaN,168.343228,82.352727,NaN
2,2,2,1,1,0,0,0,10.0,15190.0,NaN,...,-1322.085714,2857.142857,4024.828571,-29.587456,1.106049,-0.363318,20.419275,187.474127,66.770399,4378120.0
3,2,2,1,1,0,0,0,10.0,15190.0,NaN,...,12918.428571,2857.142857,10786.828571,277.570828,2.724442,3.262823,-0.842456,181.087314,79.974435,4307102.0
4,2,2,1,1,0,0,0,10.0,49212.0,NaN,...,-451.832215,1342.281879,-1485.000000,-29679.842307,NaN,NaN,NaN,149.580584,163.807727,NaN

In [134]:
# 설립일자를 기준일자로부터 경과수로 변경

from datetime import datetime

temp = allcop['ESTB_DATE'].dropna()

temp= temp.astype(int)
temp= temp.astype(str)
temp=pd.DataFrame(temp)
temp.reset_index(inplace=True)

temp['year'] = [0]*len(temp['ESTB_DATE'])
temp['month'] = [0]*len(temp['ESTB_DATE'])

for i in range(len(temp['ESTB_DATE'])):
    temp['year'][i] = temp['ESTB_DATE'][i][:4]
    temp['month'][i] = temp['ESTB_DATE'][i][4:6]

<ipython-input-134-d09c1f8fc406>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['year'][i] = temp['ESTB_DATE'][i][:4]
<ipython-input-134-d09c1f8fc406>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['month'][i] = temp['ESTB_DATE'][i][4:6]

In [135]:
temp['history']=[0]*len(temp['ESTB_DATE'])

for i in range(len(temp['ESTB_DATE'])):
    if int(temp['month'][i]) <=10:
        temp['history'][i]=(2022-int(temp['year'][i]))*12+10-int(temp['month'][i])
    else:
        temp['history'][i]=(2022-int(temp['year'][i])-1)*12+12-int(temp['month'][i]-10)

temp.index = temp['index']
allcop['ESTB_DATE'] = temp['history']
print(allcop['ESTB_DATE'])

<ipython-input-135-ea0eeb6f190f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['history'][i]=(2022-int(temp['year'][i]))*12+10-int(temp['month'][i])
<ipython-input-135-ea0eeb6f190f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['history'][i]=(2022-int(temp['year'][i])-1)*12+12-int(temp['month'][i]-10)

0         678.0
1         374.0
2         374.0
3         374.0
4         252.0
          ...
109137     27.0
109138     37.0
109139     37.0
109140     12.0
109141     28.0
Name: ESTB_DATE, Length: 109142, dtype: float64

In [136]:
# 상장일자를 기준일자로부터 경과수로 변경
temp_list = allcop['LIST_DATE'].dropna()

temp_list = temp_list.astype(int)
temp_list = temp_list.astype(str)
temp_list = pd.DataFrame(temp_list)
temp_list.reset_index(inplace=True)

temp_list['year'] = [0]*len(temp_list['LIST_DATE'])
temp_list['month'] = [0]*len(temp_list['LIST_DATE'])

for i in range(len(temp_list['LIST_DATE'])):
    temp_list['year'][i] = temp_list['LIST_DATE'][i][:4]
    temp_list['month'][i] = temp_list['LIST_DATE'][i][4:6]
    
temp_list['history']=[0]*len(temp_list['LIST_DATE'])

for i in range(len(temp_list['LIST_DATE'])):
    if int(temp_list['month'][i]) <=10:
        temp_list['history'][i]=(2022-int(temp_list['year'][i]))*12+10-int(temp_list['month'][i])
    else:
        temp_list['history'][i]=(2022-int(temp_list['year'][i])-1)*12+12-int(temp_list['month'][i]-10)

temp_list.index = temp_list['index']
allcop['LIST_DATE'] = temp_list['history']
print(allcop['LIST_DATE'])

<ipython-input-136-19633ee754cc>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_list['year'][i] = temp_list['LIST_DATE'][i][:4]
<ipython-input-136-19633ee754cc>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_list['month'][i] = temp_list['LIST_DATE'][i][4:6]
<ipython-input-136-19633ee754cc>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_list['history'][i]=(2022-int(temp_list['year'][i]))*12+10-int(temp_list['month'][i])
<ipython-input-136-19633ee754cc>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_list['history'][i]=(2022-int(temp_list['year'][i])-1)*12+12-int(temp_list['month'][i]-10)

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
109137   NaN
109138   NaN
109139   NaN
109140   NaN
109141   NaN
Name: LIST_DATE, Length: 109142, dtype: float64

In [137]:
temp_list

         index LIST_DATE  year  month  history
index
162        162  20210624  2021      6       16
163        163  20210624  2021      6       16
164        164  20210624  2021      6       16
165        165  20210624  2021      6       16
1406      1406  19971013  1997     10      300
...        ...       ...   ...    ...      ...
108756  108756  20181224  2018     12       46
108757  108757  20181224  2018     12       46
108758  108758  20181224  2018     12       46
108820  108820  20190624  2019      6       40
108821  108821  20190624  2019      6       40

[717 rows x 5 columns]

In [138]:
# 데이터타입 int로 변경
# null 값 없음: 공기업구분, 개인법인구분, 본점지점구분, 공공기관유형, 
# null 값 있음: 기업규모, 산업코드1, 산업코드2, 산업코드3, 설립구분,

allcop['PBCO_GB'] = allcop['PBCO_GB'].astype(int)
allcop['PSN_CORP_GB'] = allcop['PSN_CORP_GB'].astype(int)
allcop['HDOF_BR_GB'] = allcop['HDOF_BR_GB'].astype(int)
allcop['PB_ORG_TYP'] = allcop['PB_ORG_TYP'].astype(int)
allcop['CMP_SCL'] = allcop['CMP_SCL'].astype(int)

print(allcop['PBCO_GB'].dtype)
print(allcop['PSN_CORP_GB'].dtype)
print(allcop['HDOF_BR_GB'].dtype)
print(allcop['PB_ORG_TYP'].dtype)
print(allcop['CMP_SCL'].dtype)

int32
int32
int32
int32
int32

In [139]:
for cl in allcop.columns:
    print({cl}, {allcop[cl].dtype})

{'CMP_SCL'} {dtype('int32')}
{'PBCO_GB'} {dtype('int32')}
{'PSN_CORP_GB'} {dtype('int32')}
{'HDOF_BR_GB'} {dtype('int32')}
{'FR_IVST_CORP_YN'} {dtype('int64')}
{'VENT_YN'} {dtype('int64')}
{'LIST_CD'} {dtype('int32')}
{'IND_CD_ORDR'} {dtype('float64')}
{'IND_CD1'} {dtype('float64')}
{'IND_CD2'} {dtype('float64')}
{'IND_CD3'} {dtype('float64')}
{'PB_ORG_TYP'} {dtype('int32')}
{'MDSCO_PRTC_YN'} {dtype('int64')}
{'ESTB_DATE'} {dtype('float64')}
{'ESTB_GB'} {dtype('int64')}
{'LIST_DATE'} {dtype('float64')}
{'HOMEPAGE_URL'} {dtype('int32')}
{'EMP_CNT'} {dtype('float64')}
{'label'} {dtype('int64')}
{'종업원 수'} {dtype('float64')}
{'결산년월'} {dtype('int64')}
{'유동자산'} {dtype('float64')}
{'매출채권'} {dtype('float64')}
{'비유동자산'} {dtype('float64')}
{'유형자산'} {dtype('float64')}
{'자산총계'} {dtype('float64')}
{'유동부채'} {dtype('float64')}
{'비유동부채'} {dtype('float64')}
{'부  채  총  계'} {dtype('float64')}
{'자본금'} {dtype('float64')}
{'이익잉여금(결손금）'} {dtype('float64')}
{'자본총계'} {dtype('float64')}
{'매출액'} {dtype('float64')}
{'판매비와관리비'} {dtype('float64')}
{'영업이익（손실）'} {dtype('float64')}
{'법인세비용차감전순손익'} {dtype('float64')}
{'법인세비용'} {dtype('float64')}
{'당기순이익(손실)'} {dtype('float64')}
{'기업순이익률(%)'} {dtype('float64')}
{'유보액/총자산(%)'} {dtype('float64')}
{'유보액/납입자본(%)'} {dtype('float64')}
{'매출액총이익률(%)'} {dtype('float64')}
{'매출액영업이익률(%)'} {dtype('float64')}
{'매출액순이익률(%)'} {dtype('float64')}
{'수지비율(%)'} {dtype('float64')}
{'경상수지비율'} {dtype('float64')}
{'영업비율(%)'} {dtype('float64')}
{'금융비용대매출액비율(%'} {dtype('float64')}
{'금융비용대부채비율(%)'} {dtype('float64')}
{'금융비용대총비용비율(%'} {dtype('float64')}
{'부채비율(%)'} {dtype('float64')}
{'차입금의존도(%)'} {dtype('float64')}
{'자기자본비율(%)'} {dtype('float64')}
{'순운전자본비율(%)'} {dtype('float64')}
{'유동부채비율(%)'} {dtype('float64')}
{'비유동부채비율(%)'} {dtype('float64')}
{'부채총계대 매출액(%)'} {dtype('float64')}
{'총자본회전율(회)'} {dtype('float64')}
{'재고자산회전율(회)'} {dtype('float64')}
{'매출채권회전율(회)'} {dtype('float64')}
{'매입채무회전율(회)'} {dtype('float64')}
{'미수금'} {dtype('float64')}
{'매출원가'} {dtype('float64')}
{'무형자산'} {dtype('float64')}
{'재고자산'} {dtype('float64')}
{'전기총자산'} {dtype('float64')}
{'매출액증가율 = (당기매출액 - 전기매출액) / 전기매출액'} {dtype('float64')}
{'영업이익증가율 = (당기영업이익 - 전기영업이익) / 전기영업이익'} {dtype('float64')}
{'총자산증가율'} {dtype('float64')}
{'당기순이익률'} {dtype('float64')}
{'ROE(자기자본순이익률)'} {dtype('float64')}
{'ROA(총자산순이익률)'} {dtype('float64')}
{'당기유형자산 / 전기유형자산 - 100'} {dtype('float64')}
{'이자비용'} {dtype('float64')}
{'총자산회전율'} {dtype('float64')}
{'영업이익률'} {dtype('float64')}
{'유동비율'} {dtype('float64')}
{'유동부채대총자산'} {dtype('float64')}
{'유동자산대총자산'} {dtype('float64')}
{'이익잉여금대총자산'} {dtype('float64')}
{'영업이익대총자산비율'} {dtype('float64')}
{'총부채대총자산비율'} {dtype('float64')}
{'이자보상비율'} {dtype('float64')}
{'판매비와관리비 / 종업원수'} {dtype('float64')}
{'영업이익 / 종업원수'} {dtype('float64')}
{'자본금 / 종업원수'} {dtype('float64')}
{'당기순이익 / 종업원수'} {dtype('float64')}
{'영업이익대비이자보상비율'} {dtype('float64')}
{'총자본순이익률'} {dtype('float64')}
{'총자본영업이익률'} {dtype('float64')}
{'총자본증가율'} {dtype('float64')}
{'비유동비율'} {dtype('float64')}
{'이익잉여금대유동자산비율'} {dtype('float64')}
{'전기유형자산'} {dtype('float64')}

In [141]:
allcop.to_excel('newdata_numble.xlsx')

In [146]:
allcop.shape

(109142, 94)

In [152]:
allcop['label'].isnull().sum()

0

### 2-2. 후진제거법

In [147]:
## null값있는 데이터 삭제

new_df = allcop.dropna(axis=0)
print(new_df.shape)
new_df.head()

(3, 94)

,CMP_SCL,PBCO_GB,PSN_CORP_GB,HDOF_BR_GB,FR_IVST_CORP_YN,VENT_YN,LIST_CD,IND_CD_ORDR,IND_CD1,IND_CD2,...,영업이익 / 종업원수,자본금 / 종업원수,당기순이익 / 종업원수,영업이익대비이자보상비율,총자본순이익률,총자본영업이익률,총자본증가율,비유동비율,이익잉여금대유동자산비율,전기유형자산
25462,2,2,1,1,0,1,0,10.0,27199.0,26322.0,...,11932.790210,16603.748252,5330.090909,127.003955,1.597574,3.576583,4.768754,120.630185,30.793154,15731852.0
25463,2,2,1,1,0,1,0,10.0,27199.0,26322.0,...,61675.188811,43290.160839,20174.000000,504.491573,4.955069,15.148449,38.506632,55.502468,23.018697,15355891.0
25464,2,2,1,1,0,1,0,10.0,27199.0,26322.0,...,52756.216783,44587.076923,32835.923077,440.749208,6.425286,10.323260,16.144578,73.600713,33.004320,15279578.0

In [149]:
zero_df = allcop.fillna(0)
print(zero_df.shape)
zero_df.head()

(109142, 94)

,CMP_SCL,PBCO_GB,PSN_CORP_GB,HDOF_BR_GB,FR_IVST_CORP_YN,VENT_YN,LIST_CD,IND_CD_ORDR,IND_CD1,IND_CD2,...,영업이익 / 종업원수,자본금 / 종업원수,당기순이익 / 종업원수,영업이익대비이자보상비율,총자본순이익률,총자본영업이익률,총자본증가율,비유동비율,이익잉여금대유동자산비율,전기유형자산
0,2,2,1,1,0,0,0,10.0,47712.0,0.0,...,-22770.488372,6976.744186,-18900.279070,-1637.162933,0.000000,0.000000,0.000000,760.061698,42.705356,0.0
1,2,2,1,1,0,0,0,10.0,15190.0,0.0,...,37918.571429,2857.142857,23208.800000,704.946775,0.000000,0.000000,0.000000,168.343228,82.352727,0.0
2,2,2,1,1,0,0,0,10.0,15190.0,0.0,...,-1322.085714,2857.142857,4024.828571,-29.587456,1.106049,-0.363318,20.419275,187.474127,66.770399,4378120.0
3,2,2,1,1,0,0,0,10.0,15190.0,0.0,...,12918.428571,2857.142857,10786.828571,277.570828,2.724442,3.262823,-0.842456,181.087314,79.974435,4307102.0
4,2,2,1,1,0,0,0,10.0,49212.0,0.0,...,-451.832215,1342.281879,-1485.000000,-29679.842307,0.000000,0.000000,0.000000,149.580584,163.807727,0.0

In [153]:
import statsmodels.api as sm
import matplotlib.pyplot as plt

#설명변수 리스트
var = zero_df.columns.tolist()

y = zero_df['label'] #반응변수
selected_var = var #초기 모든 변수 선택
alpha = 0.05 

sv_per_step = [] #각 스텝별로 선택된 변수들
adjusted_r_squared = [] #각 스텝별 수정된 결정계수
steps = [] # 스텝
step = 0

while len(selected_var) > 0:
    X = sm.add_constant(zero_df[selected_var])
    p_vals = sm.OLS(y,X).fit().pvalues[1:] ## 절편항의 p-value 제거
    max_pval = p_vals.max() ## 최대 p-value
    
    if max_pval >= alpha: ## 최대 p-value값이 기준값보다 크거나 같으면 제외
        remove_var = p_vals.idxmax()
        selected_var.remove(remove_var)
 
        step += 1
        steps.append(step)
        adj_r_squared = sm.OLS(y,sm.add_constant(zero_df[selected_var])).fit().rsquared_adj
        adjusted_r_squared.append(adj_r_squared)
        sv_per_step.append(selected_var.copy())
    else:
        break

In [154]:
selected_var

['CMP_SCL',
 'PSN_CORP_GB',
 'LIST_CD',
 'HOMEPAGE_URL',
 'label',
 '경상수지비율',
 '부채총계대 매출액(%)',
 '매출채권회전율(회)',
 '매입채무회전율(회)']

기업규모, 개인법인구분, 상장코드, 홈페이지url

### 2-3. 전진선택법

In [155]:
## 전진 선택법
import statsmodels.api as sm
import matplotlib.pyplot as plt

variables = zero_df.columns.tolist() ## 설명 변수 리스트
 
y = zero_df['label'] ## 반응 변수
selected_variables = [] ## 선택된 변수들
sl_enter = 0.05
 
sv_per_step = [] ## 각 스텝별로 선택된 변수들
adjusted_r_squared = [] ## 각 스텝별 수정된 결정계수
steps = [] ## 스텝
step = 0
while len(variables) > 0:
    remainder = list(set(variables) - set(selected_variables))
    pval = pd.Series(index=remainder) ## 변수의 p-value
    ## 기존에 포함된 변수와 새로운 변수 하나씩 돌아가면서 
    ## 선형 모형을 적합한다.
    for col in remainder: 
        X = zero_df[selected_variables+[col]]
        X = sm.add_constant(X)
        model = sm.OLS(y,X).fit()
        pval[col] = model.pvalues[col]
 
    min_pval = pval.min()
    if min_pval < sl_enter: ## 최소 p-value 값이 기준 값보다 작으면 포함
        selected_variables.append(pval.idxmin())
        
        step += 1
        steps.append(step)
        adj_r_squared = sm.OLS(y,sm.add_constant(zero_df[selected_variables])).fit().rsquared_adj
        adjusted_r_squared.append(adj_r_squared)
        sv_per_step.append(selected_variables.copy())
    else:
        break

<ipython-input-155-c032bc0daf33>:17: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pval = pd.Series(index=remainder) ## 변수의 p-value
<ipython-input-155-c032bc0daf33>:17: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pval = pd.Series(index=remainder) ## 변수의 p-value
<ipython-input-155-c032bc0daf33>:17: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pval = pd.Series(index=remainder) ## 변수의 p-value
<ipython-input-155-c032bc0daf33>:17: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pval = pd.Series(index=remainder) ## 변수의 p-value
<ipython-input-155-c032bc0daf33>:17: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pval = pd.Series(index=remainder) ## 변수의 p-value
<ipython-input-155-c032bc0daf33>:17: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pval = pd.Series(index=remainder) ## 변수의 p-value
<ipython-input-155-c032bc0daf33>:17: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pval = pd.Series(index=remainder) ## 변수의 p-value
<ipython-input-155-c032bc0daf33>:17: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pval = pd.Series(index=remainder) ## 변수의 p-value
<ipython-input-155-c032bc0daf33>:17: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pval = pd.Series(index=remainder) ## 변수의 p-value
<ipython-input-155-c032bc0daf33>:17: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pval = pd.Series(index=remainder) ## 변수의 p-value
<ipython-input-155-c032bc0daf33>:17: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pval = pd.Series(index=remainder) ## 변수의 p-value
<ipython-input-155-c032bc0daf33>:17: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pval = pd.Series(index=remainder) ## 변수의 p-value
<ipython-input-155-c032bc0daf33>:17: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pval = pd.Series(index=remainder) ## 변수의 p-value
<ipython-input-155-c032bc0daf33>:17: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pval = pd.Series(index=remainder) ## 변수의 p-value

In [156]:
selected_variables

['ESTB_DATE',
 'PSN_CORP_GB',
 '종업원 수',
 'HDOF_BR_GB',
 '유동자산대총자산',
 'CMP_SCL',
 'label',
 '자본총계',
 '비유동부채',
 '경상수지비율',
 '매출채권회전율(회)',
 '매입채무회전율(회)',
 '부채총계대 매출액(%)']

설립연도, 개인법인구분, 종업언수, 본점지점구분, 기업규모

#### 여부들어간 데이터 제외

In [157]:
newnew_df = zero_df.drop(['PBCO_GB', 'PSN_CORP_GB', 'HDOF_BR_GB', 'FR_IVST_CORP_YN', 'VENT_YN',
                       'IND_CD_ORDR', 'IND_CD1', 'IND_CD2', 'IND_CD3', 'PB_ORG_TYP',
                       'MDSCO_PRTC_YN', 'HOMEPAGE_URL', ], axis=1)
print(newnew_df.shape)
newnew_df.head()

(109142, 82)

,CMP_SCL,LIST_CD,ESTB_DATE,ESTB_GB,LIST_DATE,EMP_CNT,label,종업원 수,결산년월,유동자산,...,영업이익 / 종업원수,자본금 / 종업원수,당기순이익 / 종업원수,영업이익대비이자보상비율,총자본순이익률,총자본영업이익률,총자본증가율,비유동비율,이익잉여금대유동자산비율,전기유형자산
0,2,0,678.0,1,0.0,43.0,1,43.0,20211231,2758846.0,...,-22770.488372,6976.744186,-18900.279070,-1637.162933,0.000000,0.000000,0.000000,760.061698,42.705356,0.0
1,2,0,374.0,1,0.0,35.0,1,35.0,20191231,4772148.0,...,37918.571429,2857.142857,23208.800000,704.946775,0.000000,0.000000,0.000000,168.343228,82.352727,0.0
2,2,0,374.0,1,0.0,35.0,1,35.0,20201231,6096808.0,...,-1322.085714,2857.142857,4024.828571,-29.587456,1.106049,-0.363318,20.419275,187.474127,66.770399,4378120.0
3,2,0,374.0,1,0.0,35.0,1,35.0,20211231,5562280.0,...,12918.428571,2857.142857,10786.828571,277.570828,2.724442,3.262823,-0.842456,181.087314,79.974435,4307102.0
4,2,0,252.0,1,0.0,149.0,1,149.0,20191231,1241591.0,...,-451.832215,1342.281879,-1485.000000,-29679.842307,0.000000,0.000000,0.000000,149.580584,163.807727,0.0

In [158]:
#후진제거법
#설명변수 리스트
var = newnew_df.columns.tolist()

y = newnew_df['label'] #반응변수
selected_var = var #초기 모든 변수 선택
alpha = 0.05 

sv_per_step = [] #각 스텝별로 선택된 변수들
adjusted_r_squared = [] #각 스텝별 수정된 결정계수
steps = [] # 스텝
step = 0

while len(selected_var) > 0:
    X = sm.add_constant(newnew_df[selected_var])
    p_vals = sm.OLS(y,X).fit().pvalues[1:] ## 절편항의 p-value 제거
    max_pval = p_vals.max() ## 최대 p-value
    
    if max_pval >= alpha: ## 최대 p-value값이 기준값보다 크거나 같으면 제외
        remove_var = p_vals.idxmax()
        selected_var.remove(remove_var)
 
        step += 1
        steps.append(step)
        adj_r_squared = sm.OLS(y,sm.add_constant(newnew_df[selected_var])).fit().rsquared_adj
        adjusted_r_squared.append(adj_r_squared)
        sv_per_step.append(selected_var.copy())
    else:
        break

In [159]:
selected_var

['CMP_SCL',
 'LIST_CD',
 'ESTB_DATE',
 'ESTB_GB',
 'LIST_DATE',
 'EMP_CNT',
 'label',
 '종업원 수',
 '결산년월',
 '유동자산',
 '유형자산',
 '유동부채',
 '비유동부채',
 '부  채  총  계',
 '자본금',
 '자본총계',
 '매출액',
 '판매비와관리비',
 '법인세비용차감전순손익',
 '당기순이익(손실)',
 '매출액영업이익률(%)',
 '경상수지비율',
 '영업비율(%)',
 '부채총계대 매출액(%)',
 '매입채무회전율(회)',
 '매출원가',
 '무형자산',
 '재고자산',
 '전기총자산',
 '전기유형자산']

In [162]:
len(selected_var)

30

기업규모, 상장일자, 설립일자, 설립구분, 직원수

In [160]:
## 전진 선택법
variables = newnew_df.columns.tolist() ## 설명 변수 리스트
 
y = newnew_df['label'] ## 반응 변수
selected_variables = [] ## 선택된 변수들
sl_enter = 0.05
 
sv_per_step = [] ## 각 스텝별로 선택된 변수들
adjusted_r_squared = [] ## 각 스텝별 수정된 결정계수
steps = [] ## 스텝
step = 0
while len(variables) > 0:
    remainder = list(set(variables) - set(selected_variables))
    pval = pd.Series(index=remainder) ## 변수의 p-value
    ## 기존에 포함된 변수와 새로운 변수 하나씩 돌아가면서 
    ## 선형 모형을 적합한다.
    for col in remainder: 
        X = newnew_df[selected_variables+[col]]
        X = sm.add_constant(X)
        model = sm.OLS(y,X).fit()
        pval[col] = model.pvalues[col]
 
    min_pval = pval.min()
    if min_pval < sl_enter: ## 최소 p-value 값이 기준 값보다 작으면 포함
        selected_variables.append(pval.idxmin())
        
        step += 1
        steps.append(step)
        adj_r_squared = sm.OLS(y,sm.add_constant(newnew_df[selected_variables])).fit().rsquared_adj
        adjusted_r_squared.append(adj_r_squared)
        sv_per_step.append(selected_variables.copy())
    else:
        break

<ipython-input-160-81fc89a13ac2>:14: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pval = pd.Series(index=remainder) ## 변수의 p-value
<ipython-input-160-81fc89a13ac2>:14: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pval = pd.Series(index=remainder) ## 변수의 p-value
<ipython-input-160-81fc89a13ac2>:14: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pval = pd.Series(index=remainder) ## 변수의 p-value
<ipython-input-160-81fc89a13ac2>:14: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pval = pd.Series(index=remainder) ## 변수의 p-value
<ipython-input-160-81fc89a13ac2>:14: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pval = pd.Series(index=remainder) ## 변수의 p-value
<ipython-input-160-81fc89a13ac2>:14: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pval = pd.Series(index=remainder) ## 변수의 p-value
<ipython-input-160-81fc89a13ac2>:14: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pval = pd.Series(index=remainder) ## 변수의 p-value
<ipython-input-160-81fc89a13ac2>:14: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pval = pd.Series(index=remainder) ## 변수의 p-value
<ipython-input-160-81fc89a13ac2>:14: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pval = pd.Series(index=remainder) ## 변수의 p-value
<ipython-input-160-81fc89a13ac2>:14: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pval = pd.Series(index=remainder) ## 변수의 p-value
<ipython-input-160-81fc89a13ac2>:14: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pval = pd.Series(index=remainder) ## 변수의 p-value
<ipython-input-160-81fc89a13ac2>:14: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pval = pd.Series(index=remainder) ## 변수의 p-value
<ipython-input-160-81fc89a13ac2>:14: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pval = pd.Series(index=remainder) ## 변수의 p-value
<ipython-input-160-81fc89a13ac2>:14: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pval = pd.Series(index=remainder) ## 변수의 p-value
<ipython-input-160-81fc89a13ac2>:14: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pval = pd.Series(index=remainder) ## 변수의 p-value

In [161]:
selected_variables

['ESTB_DATE',
 '종업원 수',
 'CMP_SCL',
 'label',
 '자본총계',
 '법인세비용',
 '비유동부채',
 '경상수지비율',
 '수지비율(%)',
 '매출원가',
 '유동자산',
 '매출채권회전율(회)',
 '매입채무회전율(회)',
 '부채총계대 매출액(%)']

In [163]:
len(selected_variables)

14

'법인세비용', '수지비율(%)', '매출채권회전율(회)'는 후진제거법에 없음